<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:2%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% if not user.is_authenticated %}
            <li>
                <a class="nav-link" href="/">Home</a>
            </li>
            {% endif %}

            <li>
                <a class="nav-link" href="{% url 'pets list' %}">All pet photos</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'create pet' %}">Add pet photo</a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% else %}
                <li class="nav-item">

                Welcome {{ user.username }} <a class="nav-link" href="{% url 'logout user' %}">Logout</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'current profile user' %}">Profile</a>
                </li>

            {% endif %}
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register user' %}">Register</a>
            </li>

            {% endif %}

        </ul>
    </div>
</nav>